@import url('/components/styles/_reset.css');
@import url('/components/styles/home-style.css');
@import url('/components/styles/navbar.css');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: var(--red);
}

.background{
    background-image: url('/assets/imgs/error404.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.rocket-team{
    display: block;
    align-items: center;
    margin: auto;
    background-color: transparent;
    height: 70vh;
}


.btn-error{
    background-color: var(--yellow);
    border-color: var(--yellow);
    font-size: 1.25rem;
    font-weight: bold;
    box-shadow: var(--shadow);
    border-radius: 0.8rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    padding-right: 2rem;
    padding-left: 2rem;
}

.btn-error a{
    background-color: transparent;
}

.error-msg h1{
    font-weight: bold;
    letter-spacing: 0.1rem;
    font-size: 2.5rem;
    display: block;
    margin: auto;
    padding: 2rem;
    text-align: center;
}

.error-msg h1 span {
   display: inline-block;
   color: var(--white);
}
