@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;800&family=Karla&family=Open+Sans:wght@400;700&display=swap');

h1{
    margin-top: 4.563rem;
    margin-bottom: 2rem;
    text-align: center;
    font-family: 'Inter';
    font-weight: normal;
    font-size: 2.188rem;
    letter-spacing: 0.3rem

} 

.search-bar{
    display: flex;
    box-shadow: 4px 4px 16px 0px rgba(1, 28, 64, 0.1);
    border-radius: 2.5rem;
    line-height: 4rem;
    width: 72%;
    position:relative;
    align-self: center;
    align-items: center;
    justify-content: center;
    text-align:center;
    margin-left: 13rem;
    padding-left: 1.938rem;
    background: rgba(245, 245, 245, 1);
}

.search{
    color: rgba(118, 118, 118, 1);
    border: transparent;
    width: 90%;
    height: 3.13rem;
    font-size: 1.2rem;
    background: rgba(245, 245, 245, 1);
    ;
}

.search::after{
    border: transparent;
}

i{
    color: rgba(118, 118, 118, 1);
    align-items: right;
    /* padding-right: 1.938rem; */
}

.selectors{
    display: flex;
    margin-bottom: 1rem;
}

.checkbox-dropdown {
    width: 10rem;
    padding: .5rem;
    padding-left: 2rem;
    justify-content: center;
    position: relative;
    user-select: none;
    /* align-items: center; */
    margin-left: 5rem;
    margin-top: 2rem;
    background:rgba(245, 245, 245, 1);
    border-radius: .3rem;
    font-size: 0.9rem;
    
}

.checkbox-dropdown:first-child{
    margin-left: 14rem;
}

/* Display CSS arrow to the right of the dropdown text */
.checkbox-dropdown:after {
    content:'';
    height: 0;
    position: absolute;
    width: 0;
    border: 6px solid transparent;
    border-top-color: gray;
    top: 50%;
    right: 1rem;
    margin-top: -.2rem;
}

/* Reverse the CSS arrow when the dropdown is active */
.checkbox-dropdown.is-active:after {
    border-bottom-color: gray;
    border-top-color: rgba(245, 245, 245, 1);
    margin-top: -.5rem;
    background: rgba(245, 245, 245, 1);
}

.checkbox-dropdown-ul {
    margin: 0;
    padding:.7rem;
    position: absolute;
    top: 100%; /* align the dropdown right below the dropdown text */
    border-radius: .3rem;
    border: inherit;
    border-top: none;
    height: 7.5rem;
    left: -1px; /* align the dropdown to the left */
    right: -1px; /* align the dropdown to the right */
    opacity: 0; /* hide the dropdown */
    transition: opacity 0.4s ease-in-out;
    overflow: scroll;
    overflow-x: hidden;
    pointer-events: none; avoid mouse click events inside the dropdown
    background:rgba(245, 245, 245, 1);
    
}

.checkbox-dropdown-ul:first-child{
    margin-top: 0.3rem;
}
.is-active .checkbox-dropdown-ul {
    opacity: 1; /* display the dropdown */
    pointer-events: auto; /* make sure that the user still can select checkboxes */
    background: rgba(245, 245, 245, 1);
}

.checkbox-dropdown-ul li {
    padding: 0.2rem;
    transition: all 0.2s ease-out;
    background: rgba(245, 245, 245, 1);
    display:flex;
    flex-direction: row-reverse;
    justify-content: left;
    text-transform: capitalize;
}

.checkbox-dropdown-ul li input{
    margin-right: 0.5rem;
    /* margin-left: 1rem; */
    align-self: center;
    justify-content: justify;
}

/* .checkbox-css{
    display:flex;
    flex-direction: row-reverse;
    text-transform: capitalize;
    font-size: 0.9rem;
    cursor: pointer;
 } */


#poke-container {
    margin: auto;
    margin-top: 4rem;
    width: 90%;
    min-width: 200px;
    display: flex;
    /* flex-direction: row-reverse; */
    flex-wrap: wrap;
    flex-basis: 20%;
    justify-content: space-evenly;
    align-items: center;
}

.card {
    display: flex;
    /* flex-direction: row-reverse; */
    width: 12.6rem;
    height: 7.7rem;
    /* padding: 0.3rem ; */
    
    margin: .5rem;
    background: hsla(159, 82%, 55%, 1);
    border-radius: .75rem;
    box-shadow: 4px 4px 16px 0px rgba(1, 28, 64, 0.1);
    color: white;

}

.info{
    flex-basis: 50%;
    margin-right: 0.1rem
}


.info h4{
    font-size: 1.05rem;
    font-weight: bold;
    text-transform: capitalize;
    color: white;
    padding-top: 1.3rem;
    padding-bottom: 0.8rem;
    justify-content: left;
    padding-left: .8rem;
    /* align-content: center;
    justify-content: center;
    align-self: center; */
}


.info ul li{
    color: black;
    width: 4.5rem;
    justify-content: left;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    /* padding-left: 1.2rem;
    padding-right: 1.2rem; */
    margin-bottom: 0.3rem;
    text-transform: capitalize;
    font-size: .75rem;
    line-height: 1rem;
    text-align: center;
    background-color: rgba(255, 255, 255, 1);
    background-blend-mode: soft-light;
    opacity: 40%;
    border-radius: 2rem;
    list-style: none;
}

.info ul li::first-child{
    margin-top: 0.2rem;
 }

.image{
    display: flex;
    flex-basis: 50%;
    flex-direction: column-reverse;
}

.image img{
    padding-bottom: 0.2rem;
    width: 4.5rem;
    height: 4.5rem;
    text-align: right;
    padding-right: 0.1rem;
    /* text-align: right;
    text-align: end;
    justify-content: right;
    padding-top: 1rem; */
}

.image p{
    font-size: 1.5rem;
    color: black;
    margin-top: 0.5rem;
    padding-top: 0.3rem;
    /* align-content: right;
    align-self: right; */
    text-align: right;
    padding-bottom: 0.5rem;
    padding-right: .3rem;
    background-blend-mode: soft-light;
    opacity: 10%;
}


.load-more {
    background-color: #76daff;
    background-image: linear-gradient(
        315deg, #76daff 0%, #fcd000 74%);
    border-radius: 6px;
    border: 1px solid #c6c6c6;
    color: #444;
    padding: 0.5rem 1.5rem;
    min-width: 20%;
    margin-top: 1rem;
    font-family: "Satisfy", cursive;
    }
    