<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Carla Almeida">
    <link rel="icon" type="image/png" href="/assets/imgs/pikachu xx.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/components/styles/_error.css">
    <title>Page not found</title>
</head>
    
<body>
    <div class="background">
        <img class="rocket-team" src="/assets/imgs/404.png" alt="rocket team">
    </div>
    
    <div class="error-msg">
        <h1><span>The rocket team</span> has won this time.</h1>
        <button class="btn-error"><a href="/index.html">Return</a></button>
    </div>
</body>
</html>